/*-------------
    RESET
---------------*/
*{
    box-sizing: border-box ;
    margin: 0;
    padding: 0;
}
/*-------------------
    FONT
-------------------*/
body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/*--------------------
    DEBUG
---------------------*/
.debug{
    background-color: aquamarine;
}
/*--------------------
    HEADER
---------------------*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 28px 24px 28px 20px;
    height: 81px;
    gap: 100px;
    position: fixed;
    width: 100%;
}
.header-left{
    display: flex;
    align-items: center;
    gap: 40px;
}
nav{
    display: flex;
    gap: 40px;
    align-items: center;
}
a{
    text-decoration: none;
    color: inherit;
    font-size: 16px;
}
button{
    color: white;
    background-color: #0061fe;
    border: 1px solid #0061fe;
    padding: 5px 15px;
    cursor: pointer;
}

